*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    padding: 40px 40px 19px; 
    border-bottom: 3px solid #f1e9e9; 
}
.statue-image{
    width: 51px;
    height: 51px;
    margin: -22px 30px 10px 1px;
}
.nav-links-1{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin: 10px;
}
body{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* overflow-x: hidden; */
}
.header-div{
    padding: 32px 48px;
    background-color: #006241;
    align-items: center;
}
.boy-image{
    width: 674px;
    height: 262px;
}
header{
    display: flex;
    margin-top: 28px;
}
.burst-heading{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.starbuck-para{
    line-height: 1.75;
    font-size: 19px;
    letter-spacing: -.01em;
    font-weight: 400;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 26px 56px;
}
.header-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
    margin-left: 232px;
}
.header-button:hover{
    background-color: #04855a;
}
.nav-links-2{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin: 40px;
}
.location-image{
    width: 35px;
    height: 28px;
}
.nav-div{
    margin-left: 530px;
    margin-top: -13px;
}
.nav-button1{
    border: 1px solid black;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: black;
    background: none;
    margin-right: 16px;
    cursor: pointer;
}
.nav-button2{
    border: 1px solid black;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    background: black;
    cursor: pointer;
}
.nav-links-1:hover{
    color: #006241;
}
.nav-links-2:hover{
    color: #006241;
}
.nav-button1:hover{
    background-color: #f1e9e9;
}
.nav-button2:hover{
    background-color: rgb(76, 71, 71);
}
.cup-image{
    width: 661px;
    height: 561px;
    padding-right: 33px;
}
.burger-image{
    width: 680px;
    height: 561px;
}
.cup-burger-section{
    display: flex;
    margin-top: 34px;
}
.cup-burger-div{
    background-color: #1e3932;
    padding: 0 2px 32px 76px;
    width: 584px;
    height: 283px;
}
.cup-heading{
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    padding-top: 23px;
}
.cup-paragraph{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    text-align: center;
    color: #fff;
    width: 84%;
    margin-top: 20px;
}
.cup-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
    margin-left: 191px;
    margin-top: 32px;
}
.cup-button:hover{
    background-color: #1a5747;
}
.burger-heading{
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    padding-top: 7px;
    text-align: center;
}
.burger-paragraph{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    text-align: center;
    color: #fff;
    width: 93%;
    margin-top: 20px;
}
.mob-image{
    max-width: 110%;
}
.ubber-eats-image{
    width: 700px;
    height: 383px;
}
.mobile{
    display: flex;
    margin-top: 34px;
}
.mob-div{
    background-color: #D4E9E2;
    margin-right: 33px;
    padding: 0 48px 32px 48px;
}
.ubber-eats-div{
    background-color: #D4E9E2;
    margin-right: -47px;
}
.mob-heading{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    font-weight: 600;
    color: #1e3932;
    text-align: center;
    margin-left: 45px;
}
.mob-paragraph{
    line-height: 1.75;
    font-size: 19px;
    color: #1e3932;
    font-weight: 400;
    letter-spacing: -.01em;
    text-align: center;
    width: 91%;
    margin-left: 35px;
    margin-top: 23px;
}
.ubber-eats-heading{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    font-weight: 600;
    color: #1e3932;
    text-align: center;
    margin-left: -60px;
}
.ubber-eats-paragraph{
    line-height: 1.75;
    font-size: 19px;
    color: #1e3932;
    font-weight: 400;
    letter-spacing: -.01em;
    text-align: center;
    width: 81%;
    margin-left: 51px;
    margin-top: 23px;
}
.mob-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: black;
    border-color: black;
    cursor: pointer;
    margin-left: 207px;
    margin-top: 32px;
}
.mob-button:hover{
    background-color: #d6f5ea;
}
.ubber-eats-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: black;
    border-color: black;
    cursor: pointer;
    margin-left: 265px;
    margin-top: 21px;
}
.ubber-eats-button:hover{
    background-color: #d6f5ea;
}
.creditcard-image{
    width: 94%;
    height: 392px;
}
.creditcard{
    display: flex;
    margin-top: 32px;
}
.creditcard-div{
    background-color: #D4E9E2;
    padding: 32px 48px;
}
.creditcard-heading{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #1e3932;
    width: 78%;
    margin-left: 53px;
}
.people-heading{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #1e3932;
    width: 78%;
    margin-left: 53px;
    margin-top: 50px;
}
.creditcard-paragraph{
    line-height: 1.75;
    font-size: 19px;
    color: #1e3932;
    font-weight: 400;
    letter-spacing: -.01em;
    text-align: center;
    width: 71%;
    margin-left: 81px;
    margin-top: 20px;
}
.creditcard-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: black;
    border-color: black;
    cursor: pointer;
    margin-left: 244px;
    margin-top: 32px;
}
.people-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: black;
    border-color: black;
    cursor: pointer;
    margin-left: 228px;
    margin-top: 32px;
}
.people-button:hover{
    background-color: #ece5d3;
}
.creditcard-button:hover{
    background-color: #d6f5ea;
}
.people-image{
    width: 674px;
    height: 393px;
}
.people{
    display: flex;
    margin-top: 32px;
}
.people-div{
    background-color: #f2f0eb;
    padding: 32px 48px;
}
.section6{
    text-align: center;
}
.section6-paragraph1{
    padding: 55px 0;
    font-size: 14px;
    color: black;
    width: 45%;
    line-height: 23px;
    margin-left: 411px;
}
.section6-paragraph2{
    padding: 61px 0;
    font-size: 14px;
    color: black;
    width: 45%;
    line-height: 23px;
    margin-left: 411px;
}
.section6-paragraph3{
    padding: 32px 0;
    font-size: 14px;
    color: black;
    width: 45%;
    line-height: 23px;
    margin-left: 411px;
}
.section6-link{
    font-size: 14px;
    color: black;
}
.section6-link:hover{
    text-decoration: none;
}
footer{
    padding: 24px 40px;
    border-top: 2px solid #D4E9E2;
}
.footer-div1{
    display: flex;
}
.footer-div2{
    display: flex;
    flex-direction: column;
    margin-right: 52px;
}
.footer-div3{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.footer-div4{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
.footer-div5{
    display: flex;
    flex-direction: column;
    margin-left: -90px;
    margin-right: -18px;
}
.footer-heading{
    line-height: 1.5;
    letter-spacing: -.01em;
    font-size: 19px;
    font-weight: 400;
    color: black;
    margin-bottom: 24px;
}
.footer-links{
    color: rgba(0,0,0,.58);
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 400;
    text-decoration: none;
}
.footer-links-wid{
    color: rgba(0,0,0,.58);
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 400;
    text-decoration: none;
    width: 79%;
}
.footer-links-wid2{
    color: rgba(0,0,0,.58);
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 400;
    text-decoration: none;
    width: 75%;
}
.footer-links-wid:hover{
    color: rgb(63, 60, 60);
}
.footer-links-wid2:hover{
    color: rgb(63, 60, 60);
}
.footer-links:hover{
    color: rgb(63, 60, 60);
}
.footer-div6{
    padding-top: 32px;
    border-top: 2px solid #D4E9E2;
    padding-bottom: 32px;
}
.footer-images{
    margin-right: 10px;
}
.footer-images:hover{
    background-color: #b1c4bd;
    border: 8px solid #b1c4bd;
    border-radius: 25px;
}
.footer-last-links1{
    font-size: 16px;
    color: black;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-decoration: none;
    padding-right: 16px;
    font-weight: 400;
}
.footer-last-links2{
    font-size: 16px;
    color: black;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-decoration: none;
    padding-right: 18px;
    padding-left: 18px;
    font-weight: 400;
    border-left: 1px solid rgb(80, 76, 76);
    border-right: 1px solid  rgb(80, 76, 76);
}
.footer-last-links3{
    font-size: 16px;
    color: black;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-decoration: none;
    padding-right: 18px;
    padding-left: 18px;
    font-weight: 400;
    border-right: 1px solid  rgb(80, 76, 76);
}
.footer-last-links4{
    font-size: 16px;
    color: black;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-decoration: none;
    padding-left: 16px;
    font-weight: 400;
}
.footer-last-links1:hover{
    text-decoration: underline;
}
.footer-last-links2:hover{
    text-decoration: underline;
}
.footer-last-links3:hover{
    text-decoration: underline;
}
.footer-last-links4:hover{
    text-decoration: underline;
}
.footer-paragraph{
    color: rgba(0,0,0,.58);
    font-size: 14px;
    padding: 23px 0 16px 0;
}